<ion-view title="Registro Usuario" id="page16">
  <ion-content padding="true" class="has-header">
    <div>
      <img ng-src="img/background.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 283px; height: 6px;"></div>
    <form id="registroUsuario-form5" class="list">
      <ion-list id="registroUsuario-list10">
        <label class="item item-input" id="registroUsuario-input9" name="email">
          <input type="email" placeholder="E - mail (Este sera su usuario)*">
        </label>
        <label class="item item-select" id="registroUsuario-select2">
          <span class="input-label">Tipo :</span>
          <select>
            <option>Cédula Ciudadania</option>
            <option>Pasaporte</option>
          </select>
        </label>
        <label class="item item-input" id="registroUsuario-input8">
          <input type="text" placeholder="Nro de documento*">
        </label>
        <label class="item item-input" id="registroUsuario-input10">
          <input type="text" placeholder="Primer Nombre*">
        </label>
        <label class="item item-input" id="registroUsuario-input11">
          <input type="text" placeholder="Segundo Nombre">
        </label>
        <label class="item item-input" id="registroUsuario-input12">
          <input type="text" placeholder="Primer Apellido*">
        </label>
        <label class="item item-input" id="registroUsuario-input13">
          <input type="text" placeholder="Segundo Apellido">
        </label>

        <label class="item item-input" id="registroUsuario-input15">
          <input type="text" placeholder="Contraseña*">
        </label>
        <label class="item item-input" id="registroUsuario-input16">
          <input type="text" placeholder="Confirmación Contraseña*">
        </label>
        <label class="item item-input" id="registroUsuario-input17">
          <input type="text" placeholder="Nro Celular*">
        </label>
      </ion-list>
      <button class="button button-positive button-block">Registrar Usuario</button>
      <a href="#/login.html" style="border-radius:10px 10px 10px 10px;" class="button button-assertive button-block">Cancelar</a>
    </form>
  </ion-content>
</ion-view>
